<section class="section-has-dot section-contact" id="contact">
  <span></span>
  <div class="tf-container">
    <div class="row">
      <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8">
        <div class="wrap-section text-center">
          <div class="section-contact-inner type-lg">
            <div class="text-body-2 dot-before subtitle"></div>
            <h1 class="fw-medium heading">Let’s Talk About Your Project</h1>
            <p class="text-body-2 mb-4">Reach out via WhatsApp or email and we’ll get started quickly!</p>
            <div class="bot-btn send-wrap">
              <a href="https://wa.me/254745547755"
                 target="_blank"
                 class="text-body-2 fw-medium">
                <span class="font-poppins flex-grow-1 text-start">Chat on WhatsApp</span>
                <i class="icon icon-arrow-top-right"></i>
              </a>
            </div>
            <div class="mt-3">
              <a href="mailto:aurinkowebner@gmail.com" class="text-body-2 fw-medium">Or send an email</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
