<section class="section-has-dot section-experiences v2" id="experience">
  <span></span>
  <div class="kwasa-container">
    <div class="row">
      <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8">
        <div class="wrap-section">
          <div class="text-body-2 dot-before subtitle">Experiences</div>
          <h4 class="desc text-color-change text-tab">
            <span></span> I build and run startups, craft scalable applications, and collaborate on innovative projects.
          </h4>
          <div class="experiences-wrap">
            <div class="item scrolling-effect effectLeft">
              <div class="sub-heading text">The Professions Kenya</div>
              <div class="job-title">
                <h6 class="title">Founder & Developer</h6>
                <div class="text-body-2 time-line type-tags">2022 - Present</div>
              </div>
            </div>
            <div class="item scrolling-effect effectLeft">
              <div class="sub-heading text">SchoolFlix</div>
              <div class="job-title">
                <h6 class="title">Co-Developer</h6>
                <div class="text-body-2 time-line type-tags">2023 - Present</div>
              </div>
            </div>
            <div class="item scrolling-effect effectLeft">
              <div class="sub-heading text">Freelance Projects</div>
              <div class="job-title">
                <h6 class="title">Developer & Consultant</h6>
                <div class="text-body-2 time-line type-tags">2020 - Present</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
