<section class="section-has-dot section-testimonial v2" id="testimonial">
  <span></span>
  <div class="kwasa-container">
    <div class="row">
      <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8">
        <div class="wrap-section">
          <div class="section-testimonial-inner">
            <div class="text-body-2 dot-before subtitle fw-medium">Testimonial</div>
            <div class="testimonial-wrap">
              <div class="swiper slider-testimonial">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <h3 class="fw-medium text">
                      “ A studio with passionate, professional and full creativity. Much more than I expected. Great services, high-quality products & affordable. ”
                    </h3>
                    <div class="text-body-2 info fw-medium">— David, Ceo at SchoolFlix</div>
                  </div>
                  <div class="swiper-slide">
                    <h3 class="fw-medium text">
                      “ A little universe of inspiration — where passion meets professionalism and creativity knows no bounds. Exceptional service, stunning products that made me go 'wow' at first glance, and prices that make you smile! ”
                    </h3>
                    <div class="text-body-2 info fw-medium">— Wazecky, CEO of Avade Inc</div>
                  </div>
                </div>
                <div class="box-nav style-2">
                  <div class="nav-sw navigation-prev-testimonial">
                    <span class="icon icon-angle-left-solid"></span>
                  </div>
                  <div class="swiper-pagination pagination-testimonial"></div>
                  <div class="nav-sw navigation-next-testimonial">
                    <span class="icon icon-angle-right-solid"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
