{% load static i18n %}
{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}portfolio{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Jeckonia" />
    <meta name="author" content="kwasa" />
    <link rel="icon" href="{% webpack_static 'images/favicon.png' %}" />
    <link rel="apple-touch-icon-precomposed"
          href="{% webpack_static 'images/favicon.png' %}" />
        
    {% block css %}
      <!-- Your stuff: Third-party CSS libraries go here -->
      <!-- This file stores project-specific CSS -->
      {% render_bundle 'project' 'css' %}
    {% endblock %}
    <!--   Le javascript
    ==================================================   -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Vendor dependencies bundled as one file -->
      {% render_bundle 'vendors' 'js' attrs='defer' %}
      <!-- place project specific Javascript in this file -->
      {% render_bundle 'project' 'js' attrs='defer' %}
    {% endblock %}
  </head>
  <body class="{% block bodyclass %} counter-scroll {% endblock %}">
    {% block body %}
      <div id="wrapper">
        <video class="body-overlay" muted autoplay loop playsinline>
          <source src="{% webpack_static 'videos/video.mp4' %}" type="video/mp4" />
        </video>
        <div class="kwasa-btn-menu d-xl-none">
          <img src="{% webpack_static 'images/dashboard.svg' %}" alt="" />
        </div>
        <div class="kwasa-sidebar-menu kwasa-canvas">{% include 'components/sidebar.html' %}</div>
        <ul class="right-nav nav-scroll">
          {% include 'components/navbar.html' %}
        </ul>
        <div class="line-page"></div>
        {% block content %}{% endblock %}
        <footer class="kwasa-footer style-2 section-has-dot">
          <span></span>
          {% include 'components/footer.html' %}
          <img src="{% webpack_static 'images/footer.png' %}" alt="" class="map" />
          <div class="box-gradient2"></div>
        </footer>
      </div>
    {% endblock %}
    <!-- /container -->
    {% block modal %}{% endblock %}
    {% block inline_javascript %}{% endblock %}
  </body>
</html>
