<div class="overlay"></div>
<div class="sidebar-menu-inner">
  <div class="sidebar-wrap">
    <div class="sidebar-heading d-flex">
      <span class="close-canvas float-right" style="cursor: pointer;">
        <i class="icon icon-times-solid"></i>
      </span>
    </div>
    <ul class="sidebar-nav nav-scroll">
      <li>
        <a class="scroll-to active" href="#home">
          <i class="icon icon-home-solid"></i><span class="text-body-2">Home</span>
        </a>
      </li>
      <li>
        <a class="scroll-to" href="#services">
          <i class="icon icon-stream-solid"></i><span class="text-body-2">Services</span>
        </a>
      </li>
      <li>
        <a class="scroll-to" href="#about">
          <i class="icon icon-user-solid"></i><span class="text-body-2">About</span>
        </a>
      </li>
      <li>
        <a class="scroll-to" href="#testimonial">
          <i class="icon icon-poll-h-solid"></i><span class="text-body-2">Testimonial</span>
        </a>
      </li>
      <li>
        <a class="scroll-to" href="#pricing">
          <i class="icon icon-tags-solid"></i><span class="text-body-2">Pricing</span>
        </a>
      </li>
      <li>
        <a class="scroll-to" href="#faqs">
          <i class="icon icon-comment-alt-solid"></i><span class="text-body-2">FAQs</span>
        </a>
      </li>
      <li>
        <a class="scroll-to" href="#contact">
          <i class="icon icon-envelope-solid"></i><span class="text-body-2">Contact</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="sidebar-social">
    <ul class="social-links">
      <li>
        <a href="#"><i class="icon icon-twitter-x"></i></a>
      </li>
      <li>
        <a href="#"><i class="icon icon-facebook-f"></i></a>
      </li>
    </ul>
  </div>
</div>
